body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #4E734D;
  	margin-bottom: 20px;
}

.imac {
	width: 600px;
	perspective: 250px;
	position: relative;
}

.screen {
	height: 360px;
  background-color: black;
	background-size: cover;
	box-sizing: border-box;
	border: 24px solid black;
	border-top: 32px solid black;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.screen:focus {outline: none;}

.facetime__camera  {
	background: #222;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: -21px;
}

.chin {
	height: 64px;
	background: #dadada;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}

.logo {
	width: 2em;
	display: block;
	margin: 0 auto;
	transform: translatey(12px);
}

.stand {
	margin: 0 auto;
	width: 120px;
	height: 100px;
	background: linear-gradient(to bottom, #c1c1c1, #EFEFEF);
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	perspective-origin: 150% 150%;
	transform-style: preserve-3d;
	transform: rotatex(100deg);
	margin-top: -26px;
	box-shadow: 0 4px 0 0 #D5D5D5;
}

.Name {
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 45px;
  margin: 0px;
}

.Container {
  display: flex;
}

.Blink {
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
  margin: 5px 0px 0px -5px;
  animation: Blinking 1s step-start infinite;
  -webkit-animation: Blinking 1s step-start infinite;
}

@keyframes Blinking {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes Blinking {
  50% {
    opacity: 0;
  }
}

